<!DOCTYPE html>
<html>
  <head>
    <title>SkillTrack Academy</title>
  </head>
  <body>
    <h1>Welcome to SkillTrack Dashboard</h1>

    <a href="/students">View Students</a><br />
    <a href="/students/add">Add Student</a>
  </body>
</html>
