body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
}

.nav-link.active {
  font-weight: bold;
  color: #fff !important;
  text-decoration: underline;
}
