body {
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
}

h2,
h3 {
  color: #333;
}

button {
  margin-right: 10px;
  padding: 8px 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
